:root{
     --darkBlue:#050533;
     --lightBlue:#4d4dd2;
     --textColor:#333;
}
body{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
     font-size:30px;
}
h2{
     font-size:25px;
}
header,footer{
     background-color: var(--darkBlue);
     color: whitesmoke;
     text-align: center;
}
header,footer *{
     padding: 10px;
     margin:5px;
}
header{
     height:75px;
}
footer{
     height:25px;
}
main{
     display: flex;
}
aside{
     width: 20%;
}
aside *{
     margin:10px;
}
section{
     display: flex;
     flex-direction: column;
     width: 70%;
}
#city-details *{
     margin-left:5px
}
#searchBtn{
     background-color: var(--darkBlue);
     color: antiquewhite;
}
#city-details{
     border: 1px solid var(--darkBlue);
}
#forcast{
     display: flex;
}
.card{
     margin:10px;
     width: 20%;
     background-color: var(--darkBlue);
     color: beige;
     font-size: small;
}